// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .controls-tr-item-main__td,
  .controls-tr-item {
    width: 180px;
  }

  .controls-tr-item-main.single {
    .controls-tr-item-main__td {
      width: 538px;
    }
  }

  .controls-tr-item-main.duo {
    .controls-tr-item-main__td {
      width: 268px;
    }
  }

  .controls-tr-item.duo {
    width: 268px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .controls-tr-item-main__td,
  .controls-tr-item {
    width: 150px;
  }

  .controls-tr-item-main.single {
    .controls-tr-item-main__td {
      width: 446px;
    }
  }

  .controls-tr-item-main.duo {
    .controls-tr-item-main__td {
      width: 224px;
    }
  }

  .controls-tr-item.duo {
    width: 224px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .checkbox-group legend {
    white-space: normal;
  }

  .controls-tr-item-main.duo {
    .controls-tr-item-main__td {
      width: 200px;
    }
  }

  .controls-tr-item.duo {
    width: 200px;
  }

  .mt-md-148 {
    margin-top: 148px;
  }

  .nav-link__text {
    display: none;
  }
  .nav-link__icon {
    display: block;
  }
}

// custom
@media (max-width: 867px) {
  .controls-tr-item-main.single {
    .controls-tr-item-main__td {
      width: 360px;
    }
  }

  .controls-tr-item-main.duo {
    .controls-tr-item-main__td {
      width: 180px;
    }
  }

  .controls-tr-item.duo {
    width: 180px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // .nav-link__text {
  //   display: none;
  // }
  // .nav-link__icon {
  //   display: block;
  // }

  .chart__title {
    min-height: auto;
  }
}

@media (min-width: 837px) {
  .certificate {
    &-body {
      .table-responsive {
        overflow-x: inherit;
      }
    }
  }
}
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .w-100-xs {
    width: 100%;
  }

  .mx-xs-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .mb-xs-2 {
    margin-bottom: 0.5rem !important;
  }
  .mb-xs-3 {
    margin-bottom: 1rem !important;
  }
  .mb-xs-4 {
    margin-bottom: 1.5rem !important;
  }

  .certificate-text-head {
    height: 200px !important;
  }

  .multiselect-dropdown {
    z-index: 2000;
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto;
    max-height: 100vh;
    width: 100%;
    // left: 3%;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .multiselect-dropdown-container {
    border-radius: 0.3rem;
    background-color: #fff;
    width: 100%;
    z-index: 2001;
    max-height: 90%;
    overflow-y: auto;
  }

  .multiselect-dropdown-backdrop {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
  }

  .multiselect-dropdown-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 12px;
  }
}

//
@media (max-width: 480px) {
}

//
@media (max-width: 414px) {
  .navbar-brand {
    max-width: 220px;
    font-size: 1rem;
    white-space: normal;
  }
  .certificate-text-head {
    height: 280px !important;
  }
}

//
@media (max-width: 360px) {
}

//
@media (max-width: 320px) {
}

@media print {
  .print {
    display: block !important;
  }
  .no-print {
    display: none !important;
  }

  main {
    margin-top: 0;
  }

  body,
  html {
    max-width: 100vw !important;
    // overflow: visible;
  }

  .table-main {
    min-width: auto;
    // overflow-x: visible;
  }

  .certificate {
    // font-size: 12px;
    line-height: 1.2;
    color: #000;
    .border-start,
    .border-bottom,
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border-color: #000 !important;
    }

    .text-head {
      text-decoration: underline;
    }
  }

  h4 {
    display: none;
  }

  .certificate-body .table-responsive {
    overflow-x: inherit;
  }

  footer,
  header,
  .offcanvas,
  .certificate-nav,
  #system-message {
    visibility: hidden !important;
  }
  #print-content {
    background: transparent;
  }

  .certificate-header__desc,
  .certificate-header__director {
    display: flex;
  }
  .certificate-header__printlines,
  .certificate-header__comission {
    display: block;
  }

  .certificate-control {
    display: none !important;
  }
}
